APP_NAME=app-name
APP_VERSION=xx.xx.xx
DEBUG=false

DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/bytebeacon
DATABASE_SYNC_URL=postgresql+psycopg://postgres:password@localhost:5432/bytebeacon

SECRET_KEY=your-super-secret-key
ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

CHECK_TIMEOUT=10.0
SCHEDULER_ENABLED=true

TELEGRAM_BOT_TOKEN=bot-token

TELEGRAM_BOT_USERNAME=tell_bot_username
TELEGRAM_LINK_EXPIRE_MINUTES=10
TELEGRAM_API_TIMEOUT=10.0
TELEGRAM_PROXY_URL=socks5://127.0.0.1:10808 # this is just for me because telegram is forbidden in my country, you can remove it if you don't need it


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM_EMAIL=your-email@gmail.com
SMTP_FROM_NAME=ByteBeacon
SMTP_USE_TLS=true
SMTP_USE_SSL=false
